body{
    margin: 0;
}

#menu{
    text-align: center;
    background: rgb(247, 247, 247);
}

#tarifas, #catalogo{
    text-align: center;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
}

#tarifa{
    display: inline-block;
    width: 289px;
    margin: 30px 15px 10px 15px;
    background: #e4e4e4;
}

#telefono{
    display: inline-block;
    width: 289px;
    margin: 10px 15px 10px 15px;
    padding: 30px 0px 0px 0px;
    background: #e4e4e4;
}

#img-catalogo{
    width: auto;
    height: 200px;
}

#button-app-contratar, #button-app-info{
    background: rgb(255, 255, 255);
    padding: 20px 10px;
    border: 1px solid rgb(235, 235, 235);
    margin: 15px 0px;
    width: 100px;
}

#button-app-contratar:hover, #button-app-info:hover{
    background: #4CAF50;
}

#tarifa-nombre-text{
    padding: 15px 90px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#tarifa-velocidades-bajada, #tarifa-velocidades-subida,#tarifa-minutos-gratis,#tarifa-minutos-est{
    padding: 20px 0px;
}

#tarifa-nombre{
    background: rgb(122, 122, 122);
    margin-top: -20px;
}

#tarifa-img{
    width: 36px;
    height: 20px;
    margin-right: 10px;
}

#tarifa-precio{
    padding: 2px 0px;
    background: #4CAF50;
    margin-top: -20px;
}

#separador{
    height: 1px;
    background: rgb(214, 214, 214);
    width: 100%;
}

strong{
    font-size: 20px;
}

#tarifa-precio-text{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

#menuTable{
    width: 100%;
}

#menuTable__homeBtn, #menuTable__contactBtn,#menuTable__catalegBtn,#menuTable__tarifesBtn, #menuTable__mycuentaBtn{
    margin: 0px 40px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
}
#menuTable__mycuentaBtn{
    width: 80px;
}

#menuTable__homeBtn:hover, #menuTable__contactBtn:hover, #menuTable__catalegBtn:hover, #menuTable__tarifesBtn:hover, #menuTable__mycuentaBtn:hover{
    background-color: #4CAF50;
}

#body{
    height: auto;
    width: auto;
}

#iconos{
    height: 25px;
    width: 25px;
}

#redesSociales{
    margin-top: 50px;
}

#soloespacio{
    clear: left;
    margin-top: 10px;
    margin-bottom: 50px;
}

#subfooter{
    background: black;
    padding: 10px 0px;
}

#temPolCookies, #avisoLegal{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 20px;
}

#footer{
    clear: both;
    width: 100%;
    height: auto;
    background: rgb(235, 235, 235);
}

#textInfo{
    padding-top: 10px;
    padding-left: 20px;
}

#cookiesEmpresa, #avisoLegaltxt{
    margin-left: 100px;
    width: 900px;
    margin-top: 30px;
}

#infEmpresa{
    padding-bottom: 20px;
    padding: 20px;
    width: 100%;
}

#infEmpresa td{
    height: 50px;
}

#contactHTML{
    margin:auto;
    float:left;
    text-align:center;
    margin-left: 340px;;
    margin-top: 30px;
}

.menuTable{
    height: auto;
    width: 80px;
    margin: auto;
    display: inline-table;
}

#imgLogo{
    height: auto;
    height: auto;
    width: 80px;
}

#firstMenu{
    background: #B2B2B2;
    width: 100%; 
    height: 30px;
}

#selectLanguage{
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 10px;
    background: white;
}

#infoHome{
    margin-top: 30px;
    margin-left: 20%;
    background: #bbbbbb
}

#div_izquierda,#div_derecha{
    width: 400px;
}

#bloqueIzquierda, #bloqueDerecha{
    float:left;
}

/* Cards Carousel */
/* ---------------------------------------------- */

#imgcarrusel{
    height: 100%;
}

#carrusel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 30px;
}

.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.step-animation {
  /* animation: carousel 8s infinite steps(1) forwards; */
  
  border-color: transparent;
  animation: jelly 1s ease;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.icon-cards__item:nth-child(1) {
  transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
  transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
  transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

/* Switch button */


.checkbox{
position: absolute;
margin-left: 600px;
margin-top: -270px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* cookies */

#cookies{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#borrarCookies{
    float: right;
    margin-right: 50px;
    margin-bottom: 30px;
}